# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea
.vscode
*.iws
*.iml
*.ipr

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Sensitive files
application-dev.properties
application-local.properties
.env
